<li>
 <%= link_to staff.name, staff %>
 <% if current_staff.try(:admin?) && !current_staff?(staff) %>
    | <%= link_to "削除", staff, method: :delete,
                                  data: { confirm: "本当によろしいですか?" } %>
  <% end %>
</li>