<h1>スタッフ一覧</h1>

<ul class="staffs">
   <%= render @staffs %>
</ul>

<%= will_paginate @staffs, :previous_label => ' &lt 前へ', :next_label => '次へ &gt'%>


<div class="jumbotron">
  <h3>製作者からのコメント</h3><br>
  <h5>
    ・登録されている全てのスタッフが表示されます。<br>
    ・名前をクリックすると、そのスタッフのブログを見ることができます。<br>
    ・一応ページネーション機能もあります。（スタッフが１０人超える整骨院なんてほとんどありませんが...）<br>
    ・管理者権限をもっているスタッフは、スタッフを削除できます。
  </h5>
</div>