<h1>〜このサイトについて〜</h1>

<h4>この度はこのサイトをご利用くださりありがとうございます(￣▽￣)</h4>
<h4>このサイトは整骨院の「現在の混み具合」がわかるサイトです。</h4>
<h4>「今日予約とってないけど、急に行っても大丈夫かしら...？」 や 「予約しないで行って混んでいたらいやだな」</h4>
<h4>という現場の声を聞いて、こういう情報が簡単にわかったら患者さんもらくなんだろうなー。という発想でこのサイトは作られました。</h4>
<br>
<br>
<br>
<h4>特徴</h4>
<h4>・どなたでもユーザーとして登録して、予約をとることができます。ただし、予約は一人につき一回までです。もちろん予約の取り消しなども行えます。</h4>
<h4>・スタッフとしてログインするとブログを書くことができます。写真も載せられます。スタッフ情報変更からプロフィール画像も設定できますよ！先生の日常や整体に関する記事を投稿しましょう！</h4>
<h4>・患者様検索機能もあります。整骨院って数年間で数千人以上の患者様が訪れますから、名前で検索できるようにしてあります。（DBを検索した方が詳しい情報が入る）</h4>
<h4>・ユーザーとしてログインした場合、予約表は匿名性を考慮して、名前は表示されず「予約済み」と表示されます。ですが、スタッフとしてログインした場合はちゃんと患者様の名前が表示されます。ちなみにスタッフ専用予約表ではユーザーの名前以外の部分の枠が消えていますが、これにはより直感的に予約状況を把握できるという狙いがあります。仕様ですのでバグではありません！</h4>
<br>
<br>
<br>
<h1><font color="#ff0000">注意！（絶対にここだけは読んで下さい！！）</font></h1>
<h4>ぜひスタッフ登録をして、各種機能を確かめてみてください（右下のフッターから登録できます）スタッフ登録の際にメールアドレスを打たなければいけませんが、自分のメールアドレスを入力する
のはいやだと思います。なので適当なアドレスを入力してくださいw ですが、いくら適当なアドレスでもメールアドレスっぽくないものはバリデーションで通りません。＠の左側を適当な文字列にすることをおすすめします。（例、 hogehoge@gmail.com など...</h4>
<font size="5" color="#ff0000">
本当のアドレスだけは絶対に入力しないでください！入力されたメールアドレスはDBに登録されてしまいます！
</font>
<h4>あと、本来であれば誰でもスタッフ登録できてしまうと困ります。（スタッフとしてログインすれば誰でも患者様情報などが見れてしまうため）なのでスタッフ登録のフォームに「鍵」というスタッフしか知らない暗号？を設けてあります。鍵には「nikoniko」と入力してください。</h4>
<h4>スタッフやユーザーとして一度登録してしまうとアカウントを削除できません！管理者権限を持っているスタッフのみがユーザーやスタッフのアカウントを削除することができます。整骨院にとって、患者様情報は大切なものなので、たとえ患者様でも勝手にアカウントを削除されてしまっては困る場合があります。<font size="5" color="#ff0000">登録するときは本名や本当のメールアドレスを入力しないでください！</font></h4>
<h4>万が一登録したユーザーアカウントやスタッフアカウントを削除したい場合は、私にお伝えください！すぐに削除します。https://twitter.com/muraishiatsushi</h4>
<br>
<br>
<br>
<br>
<br>
<br>
<h3>完成していない機能</h3>
<h5>・一週間先の予約まで取れるが、今日以外の予約表を表示でない</h5>
<h5>・テストコードが単体、統合共に乏しい</h5>
<h5>・登録フォームでのエラーメッセージが英語表記が残っていたり、表示されない場合がある問題（スタッフ登録画面で）</h4>
<h5>・スタッフのブログの編集機能が実装されていない</h5>


<br>
<br>
<br>
<br>
<h4>初めて作ってみたアプリです。なので不具合や至らないところも多々あるかと思いますが、ご了承くださいまし。。。</h4>