<div class="center jumbotron">
  <h1>Thank you for comming!!</h1>
  <h2>
  　ユーザー登録をしていただくと、施術内容が予約表に反映され、より正確な予約状況がわかります！
  </h2>
  
  <div class="btn">
    <%= link_to "登録する", '#', class: "btn btn-lg btn-primary" %>
  </div>
</div>


<%= render 'helpers/time_table' %>