<%= render 'helpers/time_table_for_staff' %>

<div class="jumbotron">
  <h3>製作者からのコメント</h3><br>
  <h5>
    ・予約をとった患者様の名前が表示されます。ユーザーの予約表には名前は表示されません。<br>
    ・患者様が予約をとっていないと枠が表示されません。スタッフがより直感的に、グラフ感覚で予約状況を把握するためです。バグではありません。<br>
    ・予約表の日付を変更できます。<br>
  </h5>
</div>