<li>
  <%= link_to user.name, user %>
  <% if current_staff.try(:admin?) && !current_staff?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "本当に削除しますか?" } , id: 'delete' %>
  <% end %>
</li>