<h1>患者様一覧</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag users_path, :method => 'get' do %> 
      <p>
        <%= text_field_tag :search, params[:search], id: 'search' %>
        <%= submit_tag "検索", :name => nil %>
      </p>
    <% end %>
  </div>
</div>

<ul class="staffs">
   <%= render @users %>
</ul>


<div class="jumbotron">
  <h3>製作者からのコメント</h3><br>
  <h5>
    ・患者様が一覧で表示されます。<br>
    ・名前で検索できます。名前の一部だけでも該当するものはヒットします。<br>
    ・名前をクリックすると患者様のアカウント情報に飛びます。ユーザーは他のユーザーのアカウント情報は見ることができませんが、スタッフは見れます。<br>
    ・管理者権限を持っていれば患者様を削除することができます。患者様自身では自分のアカウントを削除できないようにしてあります。理由としては、整骨院サイドにとって
      患者様情報というのはとても大事なものです。患者様といえど勝手にアカウントを削除されたら困ることがあります。具体的には医療保険を使われる患者様が
      ほとんどなので、国からのアンケートが届いたときに患者様の受診履歴が消えていたら困ってしまいます。患者様を削除するとDBの患者様の情報も消えてしまうため。<br>
  </h5>
</div>