<h1>患者様一覧</h1>
<%= form_tag users_path, :method => 'get' do %> 
  <p>
    <%= text_field_tag :search, params[:search], id: 'search' %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<ul class="staffs">
   <%= render @users %>
</ul>
