<h1>ユーザー情報</h1>

<div class="center jumbotron">
  <h3><%= @user.name %> 様</h3> 
  <% if !@timetable.nil? %>
    <%= @timetable.date %>日<%= @timetable.hour %>時<%= @timetable.minute %>分
  <% else %>
    予約はありません
  <% end %>
</div>

<br>
<br>
<div class="jumbotron">
  <h3>製作者からのコメント</h3><br>
  <p1>・予約をとっていれば日時が表示されます。</p1><br>
  <p1>・このページに予約日時を表示することによって、スタッフとしてログインして、患者様検索をしてこのページが表示された場合に、患者様が予約をとっているかわかります。</p1>
</div>