<footer class="footer">
  <small>
    <a href="http://narita.chiryouin.biz/?utm_source=google&utm_medium=cpc&utm_campaign=search&gclid=Cj0KCQiA4sjyBRC5ARIsAEHsELGeahpLOfPjdo8gelH57CU370D6jDRRCWbi7GshK-elvoemHUPktpMaAqpOEALw_wcB">成田駅前整骨院ホームページ&nbsp;&nbsp;&nbsp;</a>
  </small>
  <small>
    <p>〒286-0034&nbsp;&nbsp;&nbsp;&nbsp;
       千葉県成田市馬橋１−１８ ウエルストンビル 1F&nbsp;&nbsp;&nbsp;&nbsp;
       電話 0476-37-7150</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "スタッフ登録", staffsignup_path %></li>
      <li><%= link_to "スタッフログイン", stafflogin_path %></li>
    </ul>
  </nav>
</footer>