<footer class="footer">
  <small>
    <a href="*">**駅前整骨院ホームページ&nbsp;&nbsp;&nbsp;</a>
  </small>
  <small>
    <p>〒***-****&nbsp;&nbsp;&nbsp;&nbsp;
       **県**市**１−１８ ********* &nbsp;&nbsp;&nbsp;&nbsp;
       電話 ****-**-****</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "スタッフ登録", staffsignup_path %></li>
      <li><%= link_to "スタッフログイン", stafflogin_path %></li>
    </ul>
  </nav>
</footer>